In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import csv
%matplotlib inline

In [ ]:
#Read CSV
with open('C:/Users/Imtiyaz/Desktop/Inernational_student_Dataset/Students from Ireland and Northern Ireland Enrolled in Third Level by type of institute+origin year.csv', "r") as f:
    reader = csv.reader(f)
    csv = []
    for column in reader:
        csv.append(column)

In [ ]:
#view full dataset
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [ ]:
#convert list into dataframe
stud_enrollment = pd.DataFrame(csv)

In [ ]:
# Delete rows with index label   
stud_enrollment= stud_enrollment.drop(stud_enrollment.index[:5])

In [ ]:
stud_enrollment = stud_enrollment.drop([0], axis=1)

In [ ]:
# reseting index of dataframe 
stud_enrollment = stud_enrollment.reset_index(drop=True)

In [ ]:
# Droping rows from dataframe 
stud_enrollment= stud_enrollment.drop(stud_enrollment.index[34:])

In [ ]:
# fill missing values with zeros
stud_enrollment = stud_enrollment.applymap(lambda x: str(x.replace('..','0')))

In [ ]:
# Rename the columns 
stud_enrollment.columns = ['Counties', '2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017']

In [ ]:
stud_enrollment

In [ ]:
stud_enrollment.dtypes

In [ ]:
stud_enrollment =  stud_enrollment.astype({'Counties':str,'2000':float,'2001':float,'2002':float,'2003':float,'2004':float,'2005':float,'2006':float,'2007':float,'2008':float,'2009':float,'2010':float,'2011':float,'2012':float,'2013':float,'2014':float,'2015':float,'2016':float,'2017':float})
print(stud_enrollment.dtypes)

In [ ]:
stud_enrollment.to_csv(r'C:/Users/Imtiyaz/Desktop/Inernational_student_Dataset/clean_data/Enrolled in Third Level by type of institute by their counties in Ireland.csv' , index=False)

In [ ]:
plt.bar(stud_enrollment['Counties'], stud_enrollment['2000'], align='center')

plt.xlabel('Student origin by their counties')
plt.ylabel('Count')
plt.title('Enrolment in 3rd level education in Ireland by their counties')
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.bar(stud_enrollment['Counties'], stud_enrollment['2011'], align='center')

plt.xlabel('Student origin by their counties')
plt.ylabel('Count')
plt.title('Enrolment in 3rd level education in Ireland by their counties')
plt.xticks(rotation=90)
plt.show()